.footer {
    font-size: 0.8rem;
    text-align: center;
    background: transparent;
    padding: 1rem;
}

@media (max-width: 375px) { 
    .footer {
        font-size: 0.8rem;
        text-align: center;
        background: transparent;
        padding: 1rem;
        
    }
}